*{
   margin:0;
   padding:0; 
   box-sizing: border-box;
   
}
html{
    font-family: sans-serif;
    background-color: #f5f5f5;
    padding: 4%;
    font-size:26px;
    
}
.container{
    
    padding: 2%;
    border-radius: 3px; 
}
.container, header{
    background-color: #fff;
    
}
h1{
    font-size: 1.2rem;
    font-weight: 600;
    
    color: #727B7C;   
    
      
}
header{
   padding: 4% 2%;
}



ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    background-color: #F9F8F9;
}

li{    
    border-top: 2px solid #68E055;
    padding:20px;
    background-color: #fff;
    
}


    

li a{
    text-decoration:none; 
    color: #7C8586;

}
li a, th{
    color: #9C9C9C;
    font-size: 10px;
    
}
li,header{
    display: flex;
    flex-flow: column wrap;            
}
main{
    margin-top: 3%;
}
h2{
    font-size: 20px;
}
.consolidado-lojas > div{
    display: flex;
    flex-flow: row wrap;     
    
}
.consolidado-lojas > div > div{
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    border: 1px solid #f2f2f2;
    margin: 20px 0; 
}